.container{

    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 8%;
    
}
.container .Text{

    width: 50%;
   
} 

.Text h1
{
    font-size: 48px;
    line-height: 50px;
}

.Text span
{
    color: #3483EE;
}

.Text .subtext
{
    width: 72%;
    margin-top: 25px;
}
.subtext p
{
    font-size: 15px;
    font-weight: lighter;
}

.Text .homebtn
{
    padding: 10px 25px;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: #3483EE;
    color: aliceblue;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
}

.container .imgclass
{
    width: 50%;
}

.imgclass img
{
    margin-top: -50px;
}

.homebtn:hover 
{
    background-color: #1d4a8a;
    transition: 0.5s;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}