.table_div{
 width: 80%;
 margin: auto;
}

.tabales{
    text-align: center;
    align-items: center;
    border-collapse: collapse;
    width: 100%;
   
    
}


.tabales td,.tabales th{
    border: 1px solid #ddd;
    padding: 8px;
}

.tabales tr:nth-child(even){
    background-color: rgb(166, 168, 168);
}
.tabales tr:hover{
    background-color: rgb(18, 19, 18);
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
}
.tabales th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(32, 32, 34);
  color: white;
}


