.table_div{
 width: 80%;
 margin: auto;
}

.tabales{
    text-align: center;
    align-items: center;
    border-collapse: collapse;
    width: 100%;
   
    
}


.tabales td{
    border: none;
    padding: 8px 30px;
    font-size: 15px;
}

.tabales .t_head th{
    position: sticky;
    top: 0;
    padding: 10px 30px;
    text-align: left;
    background-color: #4b4b4b;
    color: white;
  }
  
  .tabales tr:nth-child(even)
  {
      background-color: #f1f1f1;
  }

